body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0%;
    
    
    
    
}

form  {
    background-color: #e9e9e9;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    box-shadow:  1px 1px 8px 8px rgba(17, 2, 233, 0.1);
    justify-content: center;
    align-items: center;
}


button {
    background-color: cornflowerblue;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: small;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    margin: 0 auto;
    
}


label {
    font-size: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}




input {
    font-size: x-small;
    padding: 5px;
    margin: 8px 0;
    border: 3px solid #e9e9e9;
    border-radius: 4px;
    box-sizing: border-box;
}